dist: trusty
sudo: false
cache:
  directories:
  - "$HOME/.cache/pip"
language: python
matrix:
  include:
  - python: '2.7'
    env: TOXENV=py27
  - python: '3.4'
    env: TOXENV=py34
  - python: '3.5'
    env: TOXENV=py35
  - python: '3.6'
    env: TOXENV=py36
  - python: pypy2.7-5.8.0
    env: TOXENV=pypy
install:
- pip install tox
script:
- tox
before_install:
- pip install codecov
after_success:
- tox -e coverage-report
- codecov
notifications:
  email: false
deploy:
  provider: pypi
  user: spotify_alf
  password:
    secure: JNEv/QytFI+V6MVMjtpnadFfyqUBw2YEbr7lfJI2barDl8WGJV+2Sjt2NnMQfNwwuoQC2BgFEIgpSlzQFscslRRu+/Rk7Rc1EliaSpH51I965yW52aJnpwpt/wHlhmxDtLdiV2VLzFoFOAFNgyo1kfIOvuJH5kQYISuv7GevW1UTAO2yobLJrq3CVZhIVE0MoygwpdNHxtPdfcAFMEA0HUsvAM4RJWiG16B08JNySFugIv0xNZuJA/bJswVfH6+YIKe7zBP+xDC8Pp96DYDA/KQ7Up57y7qvm6iqVlvr+Xs14CRQZb+e+s0sY6P4uRMUGU350NWScRuBlkN8pFMfKQ0PPbePwRCNAWCIuWzIedzoY+lgAuHbcnOYccg5yX93nndr9e3eJmCIUKMDqhHyKXS2Oe12HQGnNJZBKyx5GRDBqiKlR9pcXSFMeNHYvnKM2VU5MrEH02OwmTBEY7xT5XU/BpQaCV18SRxoKx3FjkWjbrBIXJlyUJwxrj8vRlWuOoTRD2v4bVpJ6VK4r2One3UfVem87ELRU/ksg4EShzT6FDPWhjzXJWjoh2k6qKyf63FvQmh9kdQaJkd8G6zj/hOTt0qoHJk1W4Rxob97cvrrss6VyEIj1GqQCZV0pzzhJeGocEQ75bAmMBSYkvGHL4mVRRTda3otpNReICDhgXo=
  on:
    tags: true
  distributions: sdist bdist_wheel
